*
{
    margin:0 5px;
    padding:0;
    box-sizing: border-box;
  

    
}

/*Principal container*/
.container
{
    height:100vh;
    @font-face {
        font-family: 'Grandeur';
        src: url(../Fuentes/Grandeur.otf);
        font-weight: bold;
        font-style: bold;
       } 

}

.header

{
    background-color: #FF5440 ;
    color:#fff;
    display: flex;
    justify-content: space-between;
    height:12%;
    
    

    /*Edit scale and position of logo menu*/
    &_logo
    {

        .logo1{
            width:300px;
            height:300px;
            
            
        }
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;
        background-position: left center;
        
        
       
    }

    /*Edit all text menu and position*/
    &_menu
    {
        display: flex;
        justify-content: center;
        position: relative;
        top:41%;
        gap:20px;
        font-family: 'Grandeur';
        font-size: 25.7px;

    
    }   

}

/*Menu controllers & hovers*/
.header_menu
{
    height:12%;
    display: flex;
    justify-content: flex-end;

}
.header_services1:hover
{
    height:12%;
    color:black;
    transition:0.5s;
}  

.header_services2:hover
{
        height:12%;
        color:black;
        transition:0.5s;
}


.header_services3:hover
    {
        height:12%;
        color:black;
        transition:0.5s;
    }

    .header_services4:hover
    {
        height:12%;
        color:black;
        transition:0.5s;
    }

    .header_services5:hover
    {
        height:12%;
        color:black;
        transition:0.5s;
    }


/*Home principal content container*/
.principal_content
{   
    /*Containers of video and text home*/
    display: flex;
    height:100%;

    &1
    {
        width:63vw;
        height:80%;
        margin:30px;
        margin-left: -8px;


    
    }
    &2
    {
        width:33%;
        height:80%;
        margin-left:16px;
        margin-top:30px;


       
    }   

    .text_Content1
    {   
        display: flex;
        height:300px;
        width: 356px;
        background-color: #FF5440;
        color:#fff;
        justify-content: center;
        margin-bottom:10px;

        .inner_text1
        {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
            margin-left:5px;

        }
    }
    .text_Content2
    {
        display: flex;
        height:300px;
        width: 356px;
        background-color: #FF5440;
        color:#fff;
        justify-content: center;
        margin-bottom:10px;

    }

    .text_Content3
    {
        display: flex;
        height:130px;
        width: 356px;
        background-color: #FF5440;
        color:#fff;
        justify-content: center;

    }
}
/*Branding Content area*/

.branding_container
{
    height:1400px;
    
}
/*footer info styles*/

.footer
{
    height:8%;
    background-color: #FF5440;
    color:#fff;
    display: flex;
    

    .footer_info1
    {
        height:76px;
        width:35%;
        position:absolute;
        right:1%;
        margin-right:25px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    .footer_info2
    {

        height:76px; 
        width:100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_info3
    {

        height:76px; 
        width:100px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .footer_info4
    {

        height:76px; 
        width:100px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
}

